.dashboard {
  display: flex;
  width: 100%;
  min-height: 200vh;
}
.header {
  background: transparent;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 52px;
  width: 100%;
}
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
}
button {
  background: transparent;
  border: none;
  outline: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 483px;
  max-height: 56px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}
.nav__item a {
  text-decoration: none;
  color: #000;
}
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.login button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.btn__login {
  background: transparent;
  color: #000;
}
.btn__signup {
  background: #9e4cdc;
  padding: 19px 63px;
  border-radius: 30px;
  color: #fff;
}
.hero {
  background: #fafafa;
  border-radius: 70px;
  height: 100vh;
  width: 98%;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero__heading h1 {
  font-weight: 500;
  font-size: 96px;
  line-height: 113px;
  text-align: center;
  letter-spacing: -8px;
}
.hero__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  border-radius: 70px;
  margin: 52px 0;
}
